<!doctype html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=0"/>
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/regionales-wirtschaften-wiki.de.css">


</head>
<body>
    
    <div id="header" class="left" role="complementary" >
        <a href="/"><img src="/static/regionalentwicklung.jpg" title="Regionales WirtschaftenWiki" /></a>
        <p>Regionales WirtschaftenWiki</p>
    </div>
    <div id="main" class="panel main" role="main" >
        <section>
            <article>{{ .Content }}</article>
        </section>
    </div>
    <div id="footer" class="panel cb" role="contentinfo" >
    <footer>
        <p>
            <a href="/impressum">Impressum</a> ❘
            <a href="/lizenzbestimmungen">Lizenzbestimmungen</a> ❘
            <a href="https://gitlab.com/klml/regionales-wirtschaften-wiki.de/-/blob/master/{{ .File.Path }}" title="✍">Edit</a>
        </p>
    </footer>
    </div>
</body>
</html>
